<meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}">
    {{ with .Site.Params.author }}<meta name="author" content="{{ . }}">{{ end }}
    <meta name="keywords" content="{{ .Site.Params.keywords }}">
    
    <meta itemprop="name" content="{{ .Site.Title }}">
    <meta itemprop="description" content="{{ .Site.Params.description }}">
    <meta itemprop="image" content="{{ .Site.BaseURL }}/images/logoMeta.png" />
    
    <meta property="og:site_name" content="{{ .Site.Title }}" />
    <meta property="og:title" content="{{ .Site.Title }}">
    <meta property="og:description" content="{{ .Site.Params.description }}">
    <meta property="og:image" content="{{ .Site.BaseURL }}/images/logoMeta.png" />
    <meta property="og:url" content="https://docs.diambra.ai" />
    <meta property="og:type" content="website">
    <meta name="publish_date" property="og:publish_date" content="2022-01-15T00:00:00-0600">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
